

<%- include('header'); -%>

    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <% for (let i=0; i<newListItems.length; i++) { %>
            <div class="list">
                <input type="checkbox">
                <p class="item-text"> <%= newListItems[i] %> </p>
                <div class="item-actions">
                    <button class="edit-btn" data-index="<%= i %>">✍</button>
                    <button class="delete-btn" data-index="<%= i %>">✃</button>
                </div>
            </div>    
        <% } %>

        <form action="/" method="post" class="list">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %> class="btn"></button>
        </form>
    </div>

    <script src="/js/script.js"></script>

<%- include('footer'); -%>